* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
*:hover {
  text-decoration: none;
}

#body {
  position: relative;
  overflow: hidden;
  background-color: #003049;
  background-image: url(./assets/popcornIcon1.png);
  background-size: 120px;
  background-position: 0 20px;
  background-repeat: repeat;
  min-height: 100vh;
}

/* #body::before {
  content: "";
  position: absolute;
  min-width: 3000px;
  min-height: 3000px;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background-color: #003049;
  background-image: url(./assets/popcornIcon1.png);
  background-size: 120px;
  background-position: 0 20px;
  background-repeat: repeat;
  transform: rotate(-30deg);
} */

h2:hover{
  text-decoration: none;
}
